{% extends 'root.html' %}
{% block content %}
<section class="content">
  <div class="row">
        <div class="col-xs-12">
            <div class="box">
            
                <div class="box-body">
                    <div class="box-body text-center">
                        <h1>Age and Gender Prediction</h1>
                        <button><a href="http://127.0.0.1:5000"> Predict </a> </button>
                        </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}



{% block custom_js %}
  

{% endblock custom_js %}
  
